<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-card class="card">
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput type="number" [(ngModel)]="valor" (keyup.enter)="agregarNodo()">
      </mat-form-field>
      <div class="btnAdd">
        <button mat-raised-button color="primary" (click)="agregarNodo()">Agregar</button>
        <button mat-raised-button color="primary" (click)="reset()">Reset</button>
        <!--<button mat-raised-button (click)="pintar()">Pintar</button>-->
      </div>
    </mat-card>
    <br>
    <mat-card class="card">
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select>
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{tipo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
      <div class="btnAdd">
        <button mat-raised-button>Recorrido</button>
      </div>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="divTotal">
      <mat-card class="card-graph">
        <app-grafo [chartOption]="options"></app-grafo>
      </mat-card>
      <br>
      <mat-card>
        <app-grafo [chartOption]="optionsReco"></app-grafo>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>