<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-card class="card">
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
      <div class="btnAdd">
        <button mat-raised-button>Agregar</button>
        <button mat-raised-button>Reset</button>
      </div>
    </mat-card>
    <br>
    <mat-card class="card">
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select>
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{tipo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
      <div class="btnAdd">
        <button mat-raised-button>Recorrido</button>
      </div>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="divTotal">
      <app-grafo></app-grafo>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>